extend layout/layout
block bread
        li
                a(href='#') 运营数据
        li
                a(href='#') 总表

block content
        table.table.table-striped.table-bordered.bootstrap-datatable.datatable.responsive
                thead
                        tr
                                th Username
                                th Date registered
                                th Role
                                th Status
                                th Actions
                tbody
                        tr
                                td David R
                                td.center 2012/01/01
                                td.center Member
                                td.center
                                        span.label-success.label.label-default Active
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Chris Jack
                                td.center 2012/01/01
                                td.center Member
                                td.center
                                        span.label-success.label.label-default Active
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Jack Chris
                                td.center 2012/01/01
                                td.center Member
                                td.center
                                        span.label-success.label.label-default Active
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Muhammad Usman
                                td.center 2012/01/01
                                td.center Member
                                td.center
                                        span.label-success.label.label-default Active
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Sheikh Heera
                                td.center 2012/02/01
                                td.center Staff
                                td.center
                                        span.label-default.label.label-danger Banned
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Helen Garner
                                td.center 2012/02/01
                                td.center Staff
                                td.center
                                        span.label-default.label.label-danger Banned
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Saruar Ahmed
                                td.center 2012/03/01
                                td.center Member
                                td.center
                                        span.label-warning.label.label-default Pending
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Ahemd Saruar
                                td.center 2012/03/01
                                td.center Member
                                td.center
                                        span.label-warning.label.label-default Pending
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Habib Rizwan
                                td.center 2012/01/21
                                td.center Staff
                                td.center
                                        span.label-success.label.label-default Active
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Rizwan Habib
                                td.center 2012/01/21
                                td.center Staff
                                td.center
                                        span.label-success.label.label-default Active
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Amrin Sana
                                td.center 2012/08/23
                                td.center Staff
                                td.center
                                        span.label-default.label.label-danger Banned
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Sana Amrin
                                td.center 2012/08/23
                                td.center Staff
                                td.center
                                        span.label-default.label.label-danger Banned
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Ifrah Jannat
                                td.center 2012/06/01
                                td.center Admin
                                td.center
                                        span.label-default.label Inactive
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Jannat Ifrah
                                td.center 2012/06/01
                                td.center Admin
                                td.center
                                        span.label-default.label Inactive
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Robert
                                td.center 2012/03/01
                                td.center Member
                                td.center
                                        span.label-warning.label.label-default Pending
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Dave Robert
                                td.center 2012/03/01
                                td.center Member
                                td.center
                                        span.label-warning.label.label-default Pending
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Brown Robert
                                td.center 2012/03/01
                                td.center Member
                                td.center
                                        span.label-warning.label.label-default Pending
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Usman Muhammad
                                td.center 2012/01/01
                                td.center Member
                                td.center
                                        span.label-success.label.label-default Active
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Abdullah
                                td.center 2012/02/01
                                td.center Staff
                                td.center
                                        span.label-default.label.label-danger Banned
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Dow John
                                td.center 2012/02/01
                                td.center Admin
                                td.center
                                        span.label-default.label Inactive
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td John R
                                td.center 2012/02/01
                                td.center Admin
                                td.center
                                        span.label-default.label Inactive
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Paul Wilson
                                td.center 2012/03/01
                                td.center Member
                                td.center
                                        span.label-warning.label.label-default Pending
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Wilson Paul
                                td.center 2012/03/01
                                td.center Member
                                td.center
                                        span.label-warning.label.label-default Pending
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Heera Sheikh
                                td.center 2012/01/21
                                td.center Staff
                                td.center
                                        span.label-success.label.label-default Active
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Sheikh Heera
                                td.center 2012/01/21
                                td.center Staff
                                td.center
                                        span.label-success.label.label-default Active
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Christopher
                                td.center 2012/08/23
                                td.center Staff
                                td.center
                                        span.label-default.label.label-danger Banned
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Andro Christopher
                                td.center 2012/08/23
                                td.center Staff
                                td.center
                                        span.label-default.label.label-danger Banned
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Jhon Doe
                                td.center 2012/06/01
                                td.center Admin
                                td.center
                                        span.label-default.label Inactive
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Lorem Ipsum
                                td.center 2012/03/01
                                td.center Member
                                td.center
                                        span.label-warning.label.label-default Pending
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Abraham
                                td.center 2012/03/01
                                td.center Member
                                td.center
                                        span.label-warning.label.label-default Pending
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Brown Blue
                                td.center 2012/03/01
                                td.center Member
                                td.center
                                        span.label-warning.label.label-default Pending
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
                        tr
                                td Worth Name
                                td.center 2012/03/01
                                td.center Member
                                td.center
                                        span.label-warning.label.label-default Pending
                                td.center
                                        a.btn.btn-success(href='#')
                                                i.glyphicon.glyphicon-zoom-in.icon-white
                                                        View
                                        a.btn.btn-info(href='#')
                                                i.glyphicon.glyphicon-edit.icon-white
                                                        Edit
                                        a.btn.btn-danger(href='#')
                                                i.glyphicon.glyphicon-trash.icon-white
                                                        Delete
