doctype html
html(lang='en')
	head
		//
			===
			This comment should NOT be removed.
			Charisma v2.0.0
			Copyright 2012-2014 Muhammad Usman
			Licensed under the Apache License v2.0
			http://www.apache.org/licenses/LICENSE-2.0
			http://usman.it
			http://twitter.com/halalit_usman
			===
		meta(charset='utf-8')
		|     
		title Free HTML5 Bootstrap Admin Template
		|     
		meta(name='viewport', content='width=device-width, initial-scale=1')
		|     
		meta(name='description', content='Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.')
		|     
		meta(name='author', content='Muhammad Usman')
		// The styles
		link#bs-css(href='css/bootstrap-cerulean.min.css', rel='stylesheet')
		|     
		link(href='css/charisma-app.css', rel='stylesheet')
		|     
		link(href='bower_components/fullcalendar/dist/fullcalendar.css', rel='stylesheet')
		|     
		link(href='bower_components/fullcalendar/dist/fullcalendar.print.css', rel='stylesheet', media='print')
		|     
		link(href='bower_components/chosen/chosen.min.css', rel='stylesheet')
		|     
		link(href='bower_components/colorbox/example3/colorbox.css', rel='stylesheet')
		|     
		link(href='bower_components/responsive-tables/responsive-tables.css', rel='stylesheet')
		|     
		link(href='bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css', rel='stylesheet')
		|     
		link(href='css/jquery.noty.css', rel='stylesheet')
		|     
		link(href='css/noty_theme_default.css', rel='stylesheet')
		|     
		link(href='css/elfinder.min.css', rel='stylesheet')
		|     
		link(href='css/elfinder.theme.css', rel='stylesheet')
		|     
		link(href='css/jquery.iphone.toggle.css', rel='stylesheet')
		|     
		link(href='css/uploadify.css', rel='stylesheet')
		|     
		link(href='css/animate.min.css', rel='stylesheet')
		// jQuery
		script(src='bower_components/jquery/jquery.min.js')
		// The HTML5 shim, for IE6-8 support of HTML5 elements
		//if lt IE 9
			script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
		// The fav icon
		link(rel='shortcut icon', href='img/favicon.ico')
	body
		// topbar starts
		.navbar.navbar-default(role='navigation')
			.navbar-inner
				button.navbar-toggle.pull-left.animated.flip(type='button')
					span.sr-only Toggle navigation
					|                 
					span.icon-bar
					|                 
					span.icon-bar
					|                 
					span.icon-bar
				|             
				a.navbar-brand(href='index.html')
					img.hidden-xs(alt='Charisma Logo', src='img/logo20.png')
					|                 
					span Charisma
				// user dropdown starts
				.btn-group.pull-right
					button.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
						i.glyphicon.glyphicon-user
						span.hidden-sm.hidden-xs  admin
						|                     
						span.caret
					|                 
					ul.dropdown-menu
						li
							a(href='#') Profile
						|                     
						li.divider
						|                     
						li
							a(href='login.html') Logout
				// user dropdown ends
				// theme selector starts
				.btn-group.pull-right.theme-container.animated.tada
					button.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
						i.glyphicon.glyphicon-tint
						span.hidden-sm.hidden-xs  Change Theme / Skin
						|                     
						span.caret
					|                 
					ul#themes.dropdown-menu
						li
							a(data-value='classic', href='#')
								i.whitespace
								|  Classic
						|                     
						li
							a(data-value='cerulean', href='#')
								i.whitespace
								|  Cerulean
						|                     
						li
							a(data-value='cyborg', href='#')
								i.whitespace
								|  Cyborg
						|                     
						li
							a(data-value='simplex', href='#')
								i.whitespace
								|  Simplex
						|                     
						li
							a(data-value='darkly', href='#')
								i.whitespace
								|  Darkly
						|                     
						li
							a(data-value='lumen', href='#')
								i.whitespace
								|  Lumen
						|                     
						li
							a(data-value='slate', href='#')
								i.whitespace
								|  Slate
						|                     
						li
							a(data-value='spacelab', href='#')
								i.whitespace
								|  Spacelab
						|                     
						li
							a(data-value='united', href='#')
								i.whitespace
								|  United
				// theme selector ends
				ul.collapse.navbar-collapse.nav.navbar-nav.top-menu
					li
						a(href='#')
							i.glyphicon.glyphicon-globe
							|  Visit Site
					|                 
					li.dropdown
						a(href='#', data-toggle='dropdown')
							i.glyphicon.glyphicon-star
							|  Dropdown 
							span.caret
						|                     
						ul.dropdown-menu(role='menu')
							li
								a(href='#') Action
							|                         
							li
								a(href='#') Another action
							|                         
							li
								a(href='#') Something else here
							|                         
							li.divider
							|                         
							li
								a(href='#') Separated link
							|                         
							li.divider
							|                         
							li
								a(href='#') One more separated link
					|                 
					li
						form.navbar-search.pull-left
							input.search-query.form-control.col-md-10(placeholder='Search', name='query', type='text')
		// topbar ends
		.ch-container
			.row
				// left menu starts
				.col-sm-2.col-lg-2
					.sidebar-nav
						.nav-canvas
							.nav-sm.nav.nav-stacked
							|                     
							ul.nav.nav-pills.nav-stacked.main-menu
								li.nav-header Main
								|                         
								li
									a.ajax-link(href='index.html')
										i.glyphicon.glyphicon-home
										span  Dashboard
								|                         
								li
									a.ajax-link(href='ui.html')
										i.glyphicon.glyphicon-eye-open
										span  UI Features
								|                         
								li
									a.ajax-link(href='form.html')
										i.glyphicon.glyphicon-edit
										span  Forms
								|                         
								li
									a.ajax-link(href='chart.html')
										i.glyphicon.glyphicon-list-alt
										span  Charts
								|                         
								li
									a.ajax-link(href='typography.html')
										i.glyphicon.glyphicon-font
										span  Typography
								|                         
								li
									a.ajax-link(href='gallery.html')
										i.glyphicon.glyphicon-picture
										span  Gallery
								|                         
								li.nav-header.hidden-md Sample Section
								|                         
								li
									a.ajax-link(href='table.html')
										i.glyphicon.glyphicon-align-justify
										span  Tables
								|                         
								li.accordion
									a(href='#')
										i.glyphicon.glyphicon-plus
										span  Accordion Menu
									|                             
									ul.nav.nav-pills.nav-stacked
										li
											a(href='#') Child Menu 1
										|                                 
										li
											a(href='#') Child Menu 2
								|                         
								li
									a.ajax-link(href='calendar.html')
										i.glyphicon.glyphicon-calendar
										span  Calendar
								|                         
								li
									a.ajax-link(href='grid.html')
										i.glyphicon.glyphicon-th
										span  Grid
								|                         
								li
									a(href='tour.html')
										i.glyphicon.glyphicon-globe
										span  Tour
								|                         
								li
									a.ajax-link(href='icon.html')
										i.glyphicon.glyphicon-star
										span  Icons
								|                         
								li
									a(href='error.html')
										i.glyphicon.glyphicon-ban-circle
										span  Error Page
								|                         
								li
									a(href='login.html')
										i.glyphicon.glyphicon-lock
										span  Login Page
							|                     
							label#for-is-ajax(for='is-ajax')
								input#is-ajax(type='checkbox')
								|  Ajax on menu
				// /span
				// left menu ends
				noscript
					.alert.alert-block.col-md-12
						h4.alert-heading Warning!
						|                 
						p
							| You need to have 
							a(href='http://en.wikipedia.org/wiki/JavaScript', target='_blank') JavaScript
							|                     enabled to use this site.
				|         
				#content.col-lg-10.col-sm-10
					// content starts
					div
						ul.breadcrumb
							li
								a(href='#') Home
							|         
							li
								a(href='#') Typography
					.row
						.box.col-md-9
							.box-inner
								.box-header.well(data-original-title='')
									h2
										i.glyphicon.glyphicon-font
										|  Typography
									|                 
									.box-icon
										a.btn.btn-setting.btn-round.btn-default(href='#')
											i.glyphicon.glyphicon-cog
										|                     
										a.btn.btn-minimize.btn-round.btn-default(href='#')
											i.glyphicon.glyphicon-chevron-up
										|                     
										a.btn.btn-close.btn-round.btn-default(href='#')
											i.glyphicon.glyphicon-remove
								|             
								.box-content
									.page-header
										h1
											| Typography
											small Headings, paragraphs, lists, and other inline type elements
									|                 
									.row
										.col-md-4
											h3 Sample text and paragraphs
											|                         
											p
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor,
												| quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel
												| eros. In sed ornare nulla. Donec consectetur, velit a pharetra ultricies, diam lorem lacinia
												| risus, ac commodo orci erat eu massa. Sed sit amet nulla ipsum. Donec felis mauris,
												| vulputate sed tempor at, aliquam a ligula. Pellentesque non pulvinar nisi.
											|                         
											p
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor,
												| quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel
												| eros. In sed ornare nulla. Donec consectetur, velit a pharetra ultricies, diam lorem lacinia
												| risus, ac commodo orci erat eu massa. Sed sit amet nulla ipsum. Donec felis mauris,
												| vulputate sed tempor at, aliquam a ligula. Pellentesque non pulvinar nisi.
										|                     
										.col-md-4
											h3 Example body text
											|                         
											p
												| Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis
												| dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula ut
												| id elit.
											|                         
											p
												| Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non
												| commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio
												| dui.
										|                     
										.col-md-4
											.well
												h1 h1. Heading 1
												|                             
												h2 h2. Heading 2
												|                             
												h3 h3. Heading 3
												|                             
												h4 h4. Heading 4
												|                             
												h5 h5. Heading 5
												|                             
												h6 h6. Heading 6
									// /row
									.row
										.col-md-12
											h3 Example blockquotes
											|                         
											.row
												.col-md-6
													p Default blockquotes are styled as such:
													|                                 
													blockquote
														p
															| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
															| ante venenatis.
														|                                     
														small
															| Someone famous in 
															cite(title='') Body of work
												|                             
												.col-md-6
													p You can always float your blockquote to the right:
													|                                 
													blockquote.pull-right
														p
															| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a
															| ante venenatis.
														|                                     
														small
															| Someone famous in 
															cite(title='') Body of work
									|                 
									.row
										.col-md-6
											h3 More Sample Text
											|                         
											p
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor,
												| quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel
												| eros. In sed ornare nulla. Donec consectetur, velit a pharetra ultricies, diam lorem lacinia
												| risus, ac commodo orci erat eu massa. Sed sit amet nulla ipsum. Donec felis mauris,
												| vulputate sed tempor at, aliquam a ligula. Pellentesque non pulvinar nisi.
										|                     
										.col-md-6
											h3 And Paragraphs
											|                         
											p
												| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor,
												| quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel
												| eros. In sed ornare nulla. Donec consectetur, velit a pharetra ultricies, diam lorem lacinia
												| risus, ac commodo orci erat eu massa. Sed sit amet nulla ipsum. Donec felis mauris,
												| vulputate sed tempor at, aliquam a ligula. Pellentesque non pulvinar nisi.
						// /span
						.box.col-md-3
							.box-inner
								.box-header.well
									h2 Unordered List
									|                 
									.box-icon
										a.btn.btn-close.btn-round.btn-default(href='#')
											i.glyphicon.glyphicon-remove
								|             
								.box-content
									ul
										li Lorem ipsum dolor sit amet
										|                     
										li Consectetur adipiscing elit
										|                     
										li Integer molestie lorem at massa
										|                     
										li Facilisis in pretium nisl aliquet
										|                     
										li
											| Nulla volutpat aliquam velit
											ul
												li Phasellus iaculis neque
												|                             
												li Purus sodales ultricies
												|                             
												li Vestibulum laoreet porttitor sem
												|                             
												li Ac tristique libero volutpat at
										|                     
										li Faucibus porta lacus fringilla vel
										|                     
										li Aenean sit amet erat nunc
										|                     
										li Eget porttitor lorem
						// /span
						.box.col-md-3
							.box-inner
								.box-header.well(data-original-title='')
									h2 Ordered List
									|                 
									.box-icon
										a.btn.btn-close.btn-round.btn-default(href='#')
											i.glyphicon.glyphicon-remove
								|             
								.box-content
									ol
										li Lorem ipsum dolor sit amet
										|                     
										li Consectetur adipiscing elit
										|                     
										li Integer molestie lorem at massa
										|                     
										li Facilisis in pretium nisl aliquet
										|                     
										li Nulla volutpat aliquam velit
										|                     
										li Faucibus porta lacus fringilla vel
										|                     
										li Aenean sit amet erat nunc
										|                     
										li Eget porttitor lorem
						// /span
						.box.col-md-3
							.box-inner
								.box-header.well(data-original-title='')
									h2 Description List
									|                 
									.box-icon
										a.btn.btn-close.btn-round.btn-default(href='#')
											i.glyphicon.glyphicon-remove
								|             
								.box-content
									dl
										dt Description lists
										|                     
										dd A description list is perfect for defining terms.
										|                     
										dt Euismod
										|                     
										dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
										|                     
										dd Donec id elit non mi porta gravida at eget metus.
										|                     
										dt Malesuada porta
										|                     
										dd Etiam porta sem malesuada magna mollis euismod.
						// /span
					// /row
					// content ends
				// /#content.col-md-0
			// /fluid-row
			// Ad, you can remove it
			.row
				.col-md-9.col-lg-9.col-xs-9.hidden-xs
					script(async='', src='//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
					// Charisma Demo 2
					ins.adsbygoogle(style='display:inline-block;width:728px;height:90px', data-ad-client='ca-pub-5108790028230107', data-ad-slot='3193373905')
					|             
					script.
						(adsbygoogle = window.adsbygoogle || []).push({});
				|         
				.col-md-2.col-lg-3.col-sm-12.col-xs-12.donate
					div
						small Help development of Charisma
					|             
					a.btn.btn-default(href='http://flattr.com/thing/1507720/usmanhalalitcharisma-on-GitHub', target='_blank')
						i.glyphicon.glyphicon-usd.green
						|  Donate
			// Ad ends
			hr
			|     
			#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
				.modal-dialog
					.modal-content
						.modal-header
							button.close(type='button', data-dismiss='modal') ×
							|                     
							h3 Settings
						|                 
						.modal-body
							p Here settings can be configured...
						|                 
						.modal-footer
							a.btn.btn-default(href='#', data-dismiss='modal') Close
							|                     
							a.btn.btn-primary(href='#', data-dismiss='modal') Save changes
			|     
			footer.row
				p.col-md-9.col-sm-9.col-xs-12.copyright
					| © 
					a(href='http://usman.it', target='_blank')
						| Muhammad
						| Usman
					|  2012 - 2014
				|         
				p.col-md-3.col-sm-3.col-xs-12.powered-by
					| Powered by: 
					a(href='http://usman.it/free-responsive-admin-template') Charisma
		// /.fluid-container
		// external javascript
		script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
		// library for cookie management
		script(src='js/jquery.cookie.js')
		// calender plugin
		script(src='bower_components/moment/min/moment.min.js')
		script(src='bower_components/fullcalendar/dist/fullcalendar.min.js')
		// data table plugin
		script(src='js/jquery.dataTables.min.js')
		// select or dropdown enhancer
		script(src='bower_components/chosen/chosen.jquery.min.js')
		// plugin for gallery image view
		script(src='bower_components/colorbox/jquery.colorbox-min.js')
		// notification plugin
		script(src='js/jquery.noty.js')
		// library for making tables responsive
		script(src='bower_components/responsive-tables/responsive-tables.js')
		// tour plugin
		script(src='bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js')
		// star rating plugin
		script(src='js/jquery.raty.min.js')
		// for iOS style toggle switch
		script(src='js/jquery.iphone.toggle.js')
		// autogrowing textarea plugin
		script(src='js/jquery.autogrow-textarea.js')
		// multiple file upload plugin
		script(src='js/jquery.uploadify-3.1.min.js')
		// history.js for cross-browser state change on ajax
		script(src='js/jquery.history.js')
		// application script for Charisma demo
		script(src='js/charisma.js')
