.col-sm-2.col-lg-2
    .sidebar-nav
        .nav-canvas
            .nav-sm.nav.nav-stacked
            ul.nav.nav-pills.nav-stacked.main-menu
                li.nav-header.hidden-md  运营数据
                li
                    a.ajax-link(href='index.html')
                        i.glyphicon.glyphicon-home
                        span  总表
                li
                    a.ajax-link(href='ui.html')
                        i.glyphicon.glyphicon-map-marker
                        span 地图WAP页统计
                li.accordion
                    a(href='#')
                        i.glyphicon.glyphicon-tasks
                        span  专题 活动
                        b.arrow.glyphicon.glyphicon-chevron-down
                    ul.nav.nav-pills.nav-stacked
                        li
                            a(href='#') 专题列表（客户端）
                        li
                            a(href='#') 活动列表（客户端）
                        li
                            a(href='#') 专题内容（web端）
                        li
                            a(href='#') 活动内容（web端）
                li
                    a.ajax-link(href='chart.html')
                        i.glyphicon.glyphicon-list-alt
                        span  日活构成
                li
                    a.ajax-link(href='typography.html')
                        i.glyphicon.glyphicon-bell
                        span 推送统计
                li.accordion
                    a.ajax-link(href='gallery.html')
                        i.glyphicon.glyphicon-adjust
                        span  新增留存
                        b.arrow.glyphicon.glyphicon-chevron-down
                    ul.nav.nav-pills.nav-stacked
                        li
                            a(href='#') 新增留存率
                        li
                            a(href='#') 新增留存率[含图]
                li.accordion
                    a.ajax-link(href='table.html')
                        i.glyphicon.glyphicon-book
                        span  积分相关
                        b.arrow.glyphicon.glyphicon-chevron-down
                    ul.nav.nav-pills.nav-stacked
                        li
                            a(href='#') 积分积累情况(服务端)
                        li
                            a(href='#') 积分分布(服务端)
                        li
                            a(href='#') 日生成积分(服务端)
                        li
                            a(href='#') 新用户生成积分
                        li
                            a(href='#') 日消耗积分(服务端)
                li.accordion
                    a(href='#')
                        i.glyphicon.glyphicon-briefcase
                        span  其他积分数据
                        b.arrow.glyphicon.glyphicon-chevron-down
                    ul.nav.nav-pills.nav-stacked
                        li
                            a(href='#') 大转盘数据(WEB端)
                        li
                            a(href='#') 每日签到(服务端)
                        li
                            a(href='#') 签到天数分布(服务端)
                        li
                            a(href='#') 积分商城数据(WEB端)
                        li
                            a(href='#') 我的积分页(客户端)
                        li
                            a(href='#') 我的积分页用户细分(WEB端)
                li.accordion
                    a(href='#')
                        i.glyphicon.glyphicon-indent-left
                        span  身边Tab数据
                        b.arrow.glyphicon.glyphicon-chevron-down
                    ul.nav.nav-pills.nav-stacked
                        li
                            a(href='#') 身边tab页(客户端)
                        li
                            a(href='#') 大分类词点击(客户端)
                        li
                            a(href='#') 热词点击(客户端)
                        li
                            a(href='#') 具体分类词点击(客户端)
                li.nav-header.hidden-md 广告统计
                li
                    a.ajax-link(href='calendar.html')
                        i.glyphicon.glyphicon-signal
                        span  PC地图-广告统计
// /span
// left menu ends